@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  height: -webkit-fill-available;
}

body {
  width: 100%;
  height: 100%;
  background-color: #141414;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}
body header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px;
  border-bottom: 1px solid #ffc23c;
}
body header .search-box-container {
  width: 400px;
  position: relative;
  background-color: #242424;
  height: 54px;
  border-radius: 15px;
  padding-left: 15px;
}
body header .search-box-container .search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #fcfcfc;
  font-size: 18px;
  padding-left: 15px;
}
body header .search-box-container .search-bar::-moz-placeholder {
  color: #ffc23c;
  opacity: 0.9;
}
body header .search-box-container .search-bar:-ms-input-placeholder {
  color: #ffc23c;
  opacity: 0.9;
}
body header .search-box-container .search-bar::placeholder {
  color: #ffc23c;
  opacity: 0.9;
}
body header .search-box-container input:focus::-moz-placeholder {
  opacity: 0.7;
}
body header .search-box-container input:focus:-ms-input-placeholder {
  opacity: 0.7;
}
body header .search-box-container input:focus::placeholder {
  opacity: 0.7;
}
body header .search-box-container .search-icon {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 2;
}
body header .search-box-container .search-bar:hover + .search-icon {
  opacity: 0.7;
}
body .breadcrumb-container .breadcrumbs {
  list-style: none;
  display: flex;
  padding: 8px 10px;
}
body .breadcrumb-container .breadcrumbs li {
  margin: 16px 10px;
}
body .breadcrumb-container .breadcrumbs li a {
  color: #fcfcfc;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
body .breadcrumb-container .breadcrumbs li a:hover {
  transition-delay: 50ms;
  transition: 50ms;
  color: #ffc23c;
}
body .breadcrumb-container .breadcrumbs li .active {
  color: #ffc23c;
}
body .breadcrumb-container .breadcrumbs li + li:before {
  padding: 8px;
  color: #fcfcfc;
  content: "/ ";
}
body article {
  width: 900px;
  min-height: 600px;
  border: 2px solid #ffc23c;
  margin: 10px 50px;
}
body article .article-head {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.2fr 3.6fr 0.6fr;
  gap: 0px 15px;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  padding: 25px 20px 10px 20px;
}
body article .article-head .icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body article .article-head .icon-container img {
  width: 40px;
  height: 40px;
}
body article .article-head .title-author-container .article-title {
  font-family: "Raleway", sans-serif;
  color: #fcfcfc;
  font-weight: 500;
  letter-spacing: 0.4px;
}
body article .article-head .title-author-container .article-author {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  color: #fcfcfc;
  opacity: 0.7;
  font-weight: 400;
}
body article .article-head .title-author-container .article-author span {
  margin-left: 10px;
  display: inline-block;
}
body article .article-content {
  font-family: "Open Sans", sans-serif;
  color: #fcfcfc;
  font-size: 18px;
  padding: 10px;
}
body article .article-content p {
  margin: 16px;
  line-height: 2.5;
}
body article .article-content .code {
  width: 90%;
  margin: 10px auto;
  background-color: #242424;
  border: 1px solid #fcfcfc;
  height: 200px;
  padding: 15px 10px;
  border-radius: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}/*# sourceMappingURL=article.css.map */